<a href="https://colab.research.google.com/github/RahulSunkad/PythonLibraries/blob/main/pandas__project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import kagglehub
path = kagglehub.dataset_download("vijayuv/onlineretail")

Using Colab cache for faster access to the 'onlineretail' dataset.

In [ ]:
path

'/kaggle/input/onlineretail'

In [ ]:
retail_data=pd.read_csv("/kaggle/input/onlineretail/OnlineRetail.csv",encoding='iso-8859-1')

PART-A:Initial Data Exploration

In [ ]:
#Task1

retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
#Task2
#First 15 records

retail_data.head(16)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom

In [ ]:
#Last 15 Records

retail_data.tail(16)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
#Task3

retail_data.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
138996,548258,22972,CHILDREN'S SPACEBOY MUG,12,3/30/2011 11:04,1.65,14146.0,United Kingdom
184790,C552707,22501,PICNIC BASKET WICKER LARGE,-1,5/10/2011 16:16,9.95,15696.0,United Kingdom
252773,559135,21240,BLUE POLKADOT CUP,8,7/6/2011 13:18,0.85,12455.0,Spain
218434,556043,21912,VINTAGE SNAKES & LADDERS,2,6/8/2011 12:49,3.75,14078.0,United Kingdom
72219,542236,22249,DECORATION WHITE CHICK MAGIC GARDEN,6,1/26/2011 14:19,0.85,17027.0,United Kingdom
92478,544191,15056N,EDWARDIAN PARASOL NATURAL,3,2/16/2011 16:57,5.95,13089.0,United Kingdom
168435,551056,21588,RETROSPOT GIANT TUBE MATCHES,1,4/26/2011 11:51,2.55,16442.0,United Kingdom
92425,544187,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,2/16/2011 16:31,4.95,14107.0,United Kingdom
296226,562878,85204,HANGING WOOD AND FELT FLOWER,10,8/10/2011 10:45,0.12,16241.0,United Kingdom
482522,577476,23298,SPOTTY BUNTING,9,11/20/2011 11:31,4.95,12540.0,Spain
73651,542371,22504,CABIN BAG VINTAGE RETROSPOT,3,1/27/2011 13:29,12.75,12468.0,Germany
7628,537047,22383,LUNCH BAG SUKI DESIGN,10,12/5/2010 11:02,1.65,13069.0,United Kingdom
242040,558295,22766,PHOTO FRAME CORNICE,8,6/28/2011 10:38,2.95,14481.0,United Kingdom
193297,553523,22384,LUNCH BAG PINK POLKADOT,4,5/17/2011 14:46,4.96,NaN,United Kingdom
320301,564974,22382,LUNCH BAG SPACEBOY DESIGN,3,8/31/2011 15:32,4.13,NaN,United Kingdom
233652,557481,84509a,SET OF 4 ENGLISH ROSE PLACEMATS,1,6/20/2011 14:11,7.46,NaN,United Kingdom
273322,560824,22553,PLASTERS IN TIN SKULLS,1,7/21/2011 11:23,1.65,17935.0,United Kingdom
184472,552692,22897,OVEN MITT APPLES DESIGN,10,5/10/2011 15:19,1.45,13990.0,United Kingdom
77412,542727,82600,NO SINGING METAL SIGN,1,1/31/2011 15:09,2.10,17604.0,United Kingdom
414658,572475,22360,GLASS JAR ENGLISH CONFECTIONERY,1,10/24/2011 13:37,2.95,15271.0,United Kingdom

In [ ]:
#Task4

retail_data.shape

(541909, 8)

In [ ]:
#Task5

retail_data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
#Task6

retail_data.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [ ]:
#Task7

retail_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

PART-B:Data Quality Assessment

In [ ]:
#Task8

retail_data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
#Task9

retail_data['CustomerID'].isnull().sum()

np.int64(135080)

In [ ]:
#Task10

#retail_data.duplicated().any()
retail_data.duplicated().sum()

np.int64(5268)

In [ ]:
#Task11

invalid_trans = (retail_data['Quantity'] <= 0).sum()
invalid_trans

np.int64(10624)

In [ ]:
#Task12

invalid_trans = (retail_data['UnitPrice'] <= 0).sum()
invalid_trans

np.int64(2517)

In [ ]:
#Task13

retail_data['InvoiceNo'].str.startswith('C').sum()

np.int64(9288)

In [ ]:
#Task14

PART-C:Data Cleaning

In [ ]:
#Task15

retail_data.dropna(subset=['CustomerID'], inplace=True)

In [ ]:
#Task16

retail_data['Description']=retail_data['Description'].fillna('Unknown Product')

In [ ]:
#Task17

retail_data.drop_duplicates(inplace=True)

In [ ]:
#Task18

retail_data.drop(retail_data[retail_data['Quantity'] <= 0].index, inplace=True)

In [ ]:
#Task19

retail_data.drop(retail_data[retail_data['UnitPrice'] <= 0].index,inplace=True)

In [ ]:
#Task20

retail_data.drop(
    retail_data[retail_data['InvoiceNo'].str.startswith('C')].index,
    inplace=True
)

In [ ]:
#Task21

retail_data.rename(columns={'Description':'ProductName'},inplace=True)

In [ ]:
#Task22
retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

In [ ]:
#Task23

retail_data['CustomerID']=retail_data['CustomerID'].astype(int)

In [ ]:
#Task24

retail_data.reset_index(drop=True,inplace=True)

PART-D:Feature Creation

In [ ]:
#Task25

retail_data['TotalPrice']=retail_data['UnitPrice']*retail_data['Quantity']
retail_data

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [ ]:
#Task26

retail_data['Year']=retail_data['InvoiceDate'].dt.year

In [ ]:
#Task27

retail_data['Month']=retail_data['InvoiceDate'].dt.month

In [ ]:
#Task28

retail_data['Day']=retail_data['InvoiceDate'].dt.day

In [ ]:
#Task29

retail_data['Hour']=retail_data['InvoiceDate'].dt.hour

In [ ]:
#Task30

retail_data['DayOfWeek']=retail_data['InvoiceDate'].dt.day_name()

In [ ]:
#Task31

retail_data['Quarter']='Q'+retail_data['InvoiceDate'].dt.quarter.astype(str)

In [ ]:
#Task32

retail_data['RevenueCategory']='Low'

retail_data.loc[(retail_data['TotalPrice']>=10) & (retail_data['TotalPrice']<=100),'RevenueCategory']='Medium'

retail_data.loc[(retail_data['TotalPrice']>100),'RevenueCategory']='High'

In [ ]:
#Task33

retail_data['OrderSize']="Small"

retail_data.loc[(retail_data['Quantity']>=5) & (retail_data['Quantity']<=20),'OrderSize']='Medium'

retail_data.loc[(retail_data['Quantity']>20),'OrderSize']='Large'

In [ ]:
#Task34

retail_data['Lengthofprodname']=retail_data['ProductName'].str.len()

PART-E: text data processing

In [ ]:
#Task35

retail_data['ProductName']=retail_data['ProductName'].str.upper()

In [ ]:
#Task36

retail_data['Country'] = retail_data['Country'].str.strip()

In [ ]:
#Task37

retail_data[retail_data['ProductName'].str.contains('BAG',na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,Wednesday,Q4,Medium,Medium,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,Wednesday,Q4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,Friday,Q4,Medium,Large,28
392617,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,Friday,Q4,Medium,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,Friday,Q4,Medium,Large,22
392645,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,Friday,Q4,Medium,Medium,27
392648,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,Friday,Q4,Medium,Large,23

In [ ]:
#Task38

retail_data[retail_data['ProductName'].str.contains('WHITE',na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,Wednesday,Q4,Medium,Medium,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392418,581516,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,4,2011-12-09 11:26:00,8.50,14422,United Kingdom,34.00,2011,12,9,11,Friday,Q4,Medium,Small,32
392439,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,Friday,Q4,Low,Small,35
392498,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,Friday,Q4,Medium,Small,29
392592,581579,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-12-09 12:19:00,1.79,17581,United Kingdom,17.90,2011,12,9,12,Friday,Q4,Medium,Medium,30
392665,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.08,2011,12,9,12,Friday,Q4,Medium,Large,31

In [ ]:
#Task39

retail_data[retail_data['ProductName'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,Wednesday,Q4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,Friday,Q4,Medium,Large,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,Friday,Q4,Low,Small,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,Friday,Q4,Medium,Large,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,Friday,Q4,Medium,Medium,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,Friday,Q4,Medium,Large,34

In [ ]:
#Task40

retail_data['Country'] = retail_data['Country'].replace('United Kingdom', 'UK')

In [ ]:
#Task41

retail_data['Country']=retail_data['Country'].replace('EIRE','Ireland')

PART-F: Data selection and filtering

In [ ]:
#Task42

filtered_retail_data=retail_data[['InvoiceNo','ProductName','Quantity','UnitPrice','Country']]
filtered_retail_data

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

In [ ]:
#Task43

filtered_retail_data[filtered_retail_data['Country']=='Germany']

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
1073,536527,SET OF 6 T-LIGHTS SANTA,6,2.95,Germany
1074,536527,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2.55,Germany
1075,536527,MULTI COLOUR SILVER T-LIGHT HOLDER,12,0.85,Germany
1076,536527,5 HOOK HANGER MAGIC TOADSTOOL,12,1.65,Germany
1077,536527,3 HOOK HANGER MAGIC GARDEN,12,1.95,Germany
...,...,...,...,...,...
392584,581578,SET OF 4 PANTRY JELLY MOULDS,12,1.25,Germany
392585,581578,PACK OF 20 NAPKINS PANTRY DESIGN,12,0.85,Germany
392586,581578,PACK OF 20 NAPKINS RED APPLES,12,0.85,Germany
392587,581578,JINGLE BELL HEART ANTIQUE SILVER,12,2.08,Germany
392588,581578,RIBBON REEL MAKING SNOWMEN,10,1.65,Germany

In [ ]:
#Task44

filtered_retail_data[filtered_retail_data['Quantity']>50]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
46,536371,PAPER CHAIN KIT 50'S CHRISTMAS,80,2.55,UK
83,536376,RED HANGING HEART T-LIGHT HOLDER,64,2.55,UK
96,536378,PACK OF 72 RETROSPOT CAKE CASES,120,0.42,UK
102,536378,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,0.38,UK
174,536386,JUMBO BAG BAROQUE BLACK WHITE,100,1.65,UK
...,...,...,...,...,...
392488,581566,HOME SWEET HOME BLACKBOARD,144,3.26,UK
392489,581567,COCKLE SHELL DISH,84,0.79,UK
392497,581567,AGED GLASS SILVER T-LIGHT HOLDER,144,0.55,UK
392529,581571,SMALL CERAMIC TOP STORAGE JAR,96,0.69,UK
392650,581584,RED FLOCK LOVE HEART PHOTO FRAME,72,0.72,UK

In [ ]:
#Task45

filtered_retail_data[(filtered_retail_data['UnitPrice']>=5) & (filtered_retail_data['UnitPrice']<=10)]

       InvoiceNo                     ProductName  Quantity  UnitPrice Country
5         536365    SET 7 BABUSHKA NESTING BOXES         2       7.65      UK
16        536367  BOX OF VINTAGE ALPHABET BLOCKS         2       9.95      UK
17        536367        HOME BUILDING BLOCK WORD         3       5.95      UK
18        536367        LOVE BUILDING BLOCK WORD         3       5.95      UK
19        536367     RECIPE BOX WITH METAL HEART         4       7.95      UK
...          ...                             ...       ...        ...     ...
392638    581580        CINAMMON & ORANGE WREATH         1       6.75      UK
392641    581580                   CHILLI LIGHTS         2       5.75      UK
392661    581585           LOVE HOT WATER BOTTLE         3       5.95      UK
392675    581586   RED RETROSPOT ROUND CAKE TINS        24       8.95      UK
392676    581586           DOORMAT RED RETROSPOT        10       7.08      UK

[39943 rows x 5 columns]

In [ ]:
#Task46

filtered_retail_data[(filtered_retail_data['Country']=='France') & (filtered_retail_data['Quantity']>20)]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
26,536370,ALARM CLOCK BAKELIKE PINK,24,3.75,France
27,536370,ALARM CLOCK BAKELIKE RED,24,3.75,France
30,536370,STARS GIFT TAPE,24,0.65,France
31,536370,INFLATABLE POLITICAL GLOBE,48,0.85,France
32,536370,VINTAGE HEADS AND TAILS CARD GAME,24,1.25,France
...,...,...,...,...,...
387471,581001,RABBIT NIGHT LIGHT,24,1.79,France
387485,581001,ALARM CLOCK BAKELIKE GREEN,24,3.75,France
389063,581171,GINGERBREAD MAN COOKIE CUTTER,24,1.25,France
389074,581171,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,0.29,France
389081,581171,RABBIT NIGHT LIGHT,24,1.79,France

In [ ]:
#Task47

retail_data[(retail_data['InvoiceDate'].dt.year==2010) & (retail_data['InvoiceDate'].dt.month==12)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,Thursday,Q4,Low,Small,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,Q4,Low,Small,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,Q4,Low,Small,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,Thursday,Q4,Low,Small,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,Thursday,Q4,Low,Small,19

In [ ]:
#Task48

retail_data[retail_data['InvoiceDate'].dt.day_of_week.isin([5,6])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,Q4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,Q4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,Q4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,Q4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,Q4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,Sunday,Q4,Medium,Medium,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,Sunday,Q4,Low,Medium,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,Sunday,Q4,Medium,Medium,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,Sunday,Q4,Medium,Small,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,Sunday,Q4,Medium,Small,7

In [ ]:
#Task49

retail_data.sort_values(by='TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,Q4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,Q1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,Q2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,Q2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,Q3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,Q2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,Q1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,Q4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,Q1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,Q2,High,Large,34

In [ ]:
#Task50

retail_data.sort_values(by='TotalPrice',ascending=True).tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,Q4,High,Small,6
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,Q3,High,Large,29
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,Q2,High,Large,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,Q2,High,Large,21
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,Q1,High,Large,18
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,Q2,High,Large,34
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,Q1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,Q4,High,Large,18
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,Q2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,Q1,High,Large,34
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,Q3,High,Large,35
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,Q2,High,Small,7
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,Q2,High,Large,30
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,Q1,High,Large,30
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,Q4,High,Large,27

In [ ]:
#Task51

retail_data[(retail_data['Country']=='UK') | (retail_data['Country']=='Germany') | (retail_data['Country']=='France')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,Q4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,Q4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,Q4,Medium,Small,29

In [ ]:
#TASK52

threshold = retail_data['TotalPrice'].quantile(0.95)
high_value_transactions = retail_data[retail_data['TotalPrice'] > threshold]


PART-G:Sorting Operations

In [ ]:
#Task53

retail_data.sort_values(by='InvoiceDate',ascending=True)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,Q4,Medium,Medium,25
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,Q4,Medium,Medium,30
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,31
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,Friday,Q4,Medium,Small,26
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,Q4,Medium,Small,29

In [ ]:
#Task54

retail_data.sort_values(by='TotalPrice',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,Friday,Q4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,Tuesday,Q1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,Friday,Q2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,Tuesday,Q2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,Tuesday,Q3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,Q4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,Q3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,Q3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,Q3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,Q2,Low,Small,26

In [ ]:
#Task55

retail_data.sort_values(by=['Country','TotalPrice'],ascending=[True,False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
340947,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,Tuesday,Q4,High,Large,18
212475,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,Thursday,Q3,High,Large,25
68524,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,Thursday,Q1,High,Large,29
212545,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,Thursday,Q3,High,Large,28
27583,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,Thursday,Q1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194930,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,Thursday,Q3,Low,Small,31
194811,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,Thursday,Q3,Low,Small,35
194875,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,Q3,Low,Small,29
194925,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,Q3,Low,Small,29
194900,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,Thursday,Q3,Low,Small,33

In [ ]:
#Task56

retail_data.sort_values(by='TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,Q4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,Q1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,Q2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,Q2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,Q3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,Q2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,Q1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,Q4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,Q1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,Q2,High,Large,34
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,Q1,High,Large,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,Q2,High,Large,21
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,Q2,High,Large,18
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,Q3,High,Large,29
305341,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,Q4,High,Small,6
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,Q4,High,Small,6
31657,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,Tuesday,Q1,High,Large,21
292020,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,Wednesday,Q4,High,Small,6
388138,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,Wednesday,Q4,High,Large,31
10525,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,Tuesday,Q4,High,Large,28

In [ ]:
#Task57

retail_data[retail_data['TotalPrice']>0].sort_values(by='TotalPrice',ascending=True).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,Q3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,Q2,Low,Small,26
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,Q3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,Q3,Low,Small,12
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,Q4,Low,Small,29
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,Q3,Low,Small,6
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,Q3,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,Q2,Low,Small,30
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,Q4,Low,Small,30
295536,572103,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,Thursday,Q4,Low,Small,31
94732,548711,47013A,WINE BOTTLE DRESSING LT.BLUE,1,2011-04-03 14:24:00,0.120,18116,UK,0.120,2011,4,3,14,Sunday,Q2,Low,Small,28
190318,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,Sunday,Q3,Low,Small,28
293073,571909,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,Wednesday,Q4,Low,Small,31
110084,550651,21401,BLUE PUDDING SPOON,1,2011-04-19 16:52:00,0.120,15436,UK,0.120,2011,4,19,16,Tuesday,Q2,Low,Small,18
106580,550298,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,Friday,Q2,Low,Small,31
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,Low,Small,28
276434,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,Sunday,Q4,Low,Small,31
334062,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,Friday,Q4,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,Q3,Low,Small,35
177047,559525,21402,RED EGG SPOON,1,2011-07-10 10:30:00,0.120,16923,UK,0.120,2011,7,10,10,Sunday,Q3,Low,Small,15

PART-H:Aggregation and summary statistics

In [ ]:
#Task58

retail_data['TotalPrice'].sum()

np.float64(8887208.894)

In [ ]:
#Task59

retail_data['TotalPrice'].mean()

np.float64(22.6314997351614)

In [ ]:
#Task60


retail_data['TotalPrice'].max()

168469.6

In [ ]:
retail_data['TotalPrice'].min()

0.001

In [ ]:
#Task61

retail_data['CustomerID'].nunique()

4338

In [ ]:
#Task62

retail_data['ProductName'].nunique()

3877

In [ ]:
#Task63

retail_data['Country'].nunique()

37

In [ ]:
#Task64

retail_data['Quantity'].mean()

np.float64(13.1197019547126)

In [ ]:
#Task65

retail_data['ProductName'].value_counts().idxmax()

'WHITE HANGING HEART T-LIGHT HOLDER'

PART-I:Country-wise analysis

In [ ]:
#Task66

retail_data.groupby('Country')['TotalPrice'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

In [ ]:
#Task67

retail_data.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False).head(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

In [ ]:
#Task68

retail_data.groupby('Country').size()

Country
Australia                 1181
Austria                    398
Bahrain                     17
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            747
Cyprus                     603
Czech Republic              25
Denmark                    380
European Community          60
Finland                    685
France                    8326
Germany                   9025
Greece                     145
Iceland                    182
Ireland                   7226
Israel                     245
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2359
Norway                    1071
Poland                     330
Portugal                  1453
RSA                         57
Saudi Arabia                 9
Singapore                  222
Spain                     2479
Sweden                     450
Switzerland               1841
UK                      349203
USA                        179
United Arab Emirates        68
Unspecified                241
dtype: int64

In [ ]:
#Task69

retail_data.groupby('Country')['TotalPrice'].mean()

Country
Australia               117.234386
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.094200
Germany                  25.338327
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.709446
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.970296
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.832013
Sweden                   85.261844
Switzerland              30.659397
UK                       20.861862
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64

In [ ]:
#Task70


retail_data.groupby('Country')['TotalPrice'].mean().idxmax()

'Netherlands'

In [ ]:
#Task71

retail_data.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

In [ ]:
#Task72

retail_data.groupby('Country')['CustomerID'].nunique().idxmax()

'UK'

PART-J:Time Based analysis

In [ ]:
#Task73

retail_data.groupby('Month')['TotalPrice'].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64

In [ ]:
#Task74

retail_data.groupby('Month')['TotalPrice'].sum().idxmax()

np.int32(11)

In [ ]:
#Task75

retail_data.groupby('Quarter')['TotalPrice'].sum()

Quarter
Q1    1608267.990
Q2    1805775.531
Q3    2193704.143
Q4    3279461.230
Name: TotalPrice, dtype: float64

In [ ]:
#Task76

retail_data.groupby(retail_data['InvoiceDate'].dt.day_name()).size()

InvoiceDate
Friday       54222
Monday       64231
Sunday       61212
Thursday     79243
Tuesday      65744
Wednesday    68040
dtype: int64

In [ ]:
#Task77

retail_data.groupby(retail_data['InvoiceDate'].dt.day_name())['TotalPrice'].mean().idxmax()

'Friday'

In [ ]:
#Task78

retail_data.groupby(retail_data['InvoiceDate'].dt.hour)['TotalPrice'].sum()

InvoiceDate
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

In [ ]:
#Task79

retail_data.groupby('Year')['TotalPrice'].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

In [ ]:
#Task80

monthly_revenue=retail_data.groupby('Month')['TotalPrice'].sum()
monthly_revenue.pct_change()*100

Month
1           NaN
2    -21.477928
3     33.176831
4    -21.159954
5     44.618333
6     -2.555395
7     -9.254377
8      7.527701
9     47.611003
10     8.935850
11    11.641388
12    -5.932547
Name: TotalPrice, dtype: float64

PART-K:Customer Analysis

In [ ]:
#Task81

retail_data.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4338, dtype: float64

In [ ]:
#Task82

retail_data.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

In [ ]:
#Task83

retail_data.groupby('CustomerID').size()

CustomerID
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    721
18287     70
Length: 4338, dtype: int64

In [ ]:
#Task84

retail_data.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: TotalPrice, Length: 4338, dtype: float64

In [ ]:
#Task85

one_p_customers=retail_data.groupby('CustomerID').size()
one_p_customers[one_p_customers==1]

CustomerID
12346    1
13017    1
13099    1
13106    1
13120    1
        ..
18133    1
18174    1
18184    1
18233    1
18268    1
Length: 71, dtype: int64

In [ ]:
#Task86

customers_10001=retail_data.groupby('CustomerID')['TotalPrice'].sum()
customers_10001[customers_10001>10000]

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

In [ ]:
#Task87

avg_days_between_purchases = (
    retail_data
    .sort_values(['CustomerID', 'InvoiceDate'])
    .groupby('CustomerID')['InvoiceDate']
    .diff()
    .dt.days
    .groupby(retail_data['CustomerID'])
    .mean()
)

avg_days_between_purchases

CustomerID
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
12350     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.454167
18287     2.275362
Name: InvoiceDate, Length: 4338, dtype: float64

PART-L:Product Analysis

In [ ]:
#Task88

retail_data.groupby('ProductName')['TotalPrice'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: TotalPrice, dtype: float64

In [ ]:
#Task89

retail_data.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

In [ ]:
#Task90

retail_data.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

In [ ]:
#Task91

product_10_countries=retail_data.groupby('ProductName')['Country'].nunique()
product_10_countries[product_10_countries>10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 495, dtype: int64

In [ ]:
#Task92

retail_data.groupby('ProductName')['TotalPrice'].max().idxmax()

'PAPER CRAFT , LITTLE BIRDIE'

In [ ]:
retail_data.groupby('ProductName')['TotalPrice'].min().idxmin()

'BANK CHARGES'

PART-M:Advanced Grouping

In [ ]:
#Task93

retail_data.groupby(['Country','Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64

In [ ]:
#Task94

retail_data.groupby(['Country','Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             Q1         126.349136
                      Q2         130.685743
                      Q3          88.479103
                      Q4         136.336559
Austria               Q1          57.089231
                                    ...
USA                   Q4          20.359490
United Arab Emirates  Q1          29.641333
                      Q3          26.658947
Unspecified           Q2          18.577222
                      Q3           7.829645
Name: TotalPrice, Length: 117, dtype: float64

In [ ]:
#Task95

retail_data.groupby(['Country','Month']).size()

Country      Month
Australia    1        127
             2         89
             3        108
             4         18
             5        116
                     ...
Unspecified  4         16
             5         47
             6          9
             7        146
             8         23
Length: 271, dtype: int64

In [ ]:
#Task96

retail_data.groupby([retail_data['InvoiceDate'].dt.day_name(),retail_data['InvoiceDate'].dt.hour])['TotalPrice'].sum()

InvoiceDate  InvoiceDate
Friday       7               17284.880
             8               52656.610
             9              296376.831
             10             182871.600
             11             166546.630
                               ...
Wednesday    15             160053.320
             16              81464.310
             17              23428.060
             19               2893.400
             20              13031.500
Name: TotalPrice, Length: 73, dtype: float64

In [ ]:
#Task97

retail_data.groupby('Country')['TotalPrice'].agg(['sum','mean','max','min'])

                              sum        mean        max     min
Country
Australia              138453.810  117.234386    1718.40   0.420
Austria                 10198.680   25.624824     360.00   2.880
Bahrain                   548.400   32.258824     120.00  11.600
Belgium                 41196.340   20.283772     165.00   2.500
Brazil                   1143.600   35.737500     175.20  15.000
Canada                   3666.380   24.280662     550.94   2.500
Channel Islands         20440.540   27.363507     408.00   4.560
Cyprus                  13502.850   22.392786     320.69   0.830
Czech Republic            826.740   33.069600      70.80  10.080
Denmark                 18955.340   49.882474     428.40   4.680
European Community       1300.250   21.670833      60.00   7.800
Finland                 22546.080   32.913985     551.20   2.340
France                 208934.310   25.094200    4161.06   0.290
Germany                228678.400   25.338327     876.00   0.390
Greece                   4760.520   32.831172     175.20   3.360
Iceland                  4310.000   23.681319     249.60   5.040
Ireland                265262.460   36.709446    2365.20   1.250
Israel                   7215.840   29.452408     350.40   0.950
Italy                   17483.240   23.064960     300.00   2.880
Japan                   37416.370  116.561900    3794.40   0.290
Lebanon                  1693.880   37.641778     153.00  10.200
Lithuania                1661.060   47.458857     122.40  13.200
Malta                    2725.590   24.335625     455.00   2.280
Netherlands            285446.340  121.003111    4992.00   0.390
Norway                  36165.440   33.767918     700.00   2.880
Poland                   7334.650   22.226212     120.00   6.600
Portugal                33375.840   22.970296    1241.98   0.290
RSA                      1002.310   17.584386      38.25   5.040
Saudi Arabia              145.920   16.213333      19.80   5.040
Singapore               21279.290   95.852658    3949.32   2.340
Spain                   61558.560   24.832013    1350.00   0.210
Sweden                  38367.830   85.261844    1188.00   5.040
Switzerland             56443.950   30.659397     360.00   2.000
UK                    7285024.644   20.861862  168469.60   0.001
USA                      3580.390   20.002179      81.36   1.250
United Arab Emirates     1902.280   27.974706     153.00   3.480
Unspecified              2660.770   11.040539      69.36   0.190

In [ ]:
#Task98

retail_data.groupby('CustomerID')['TotalPrice'].agg(['sum','count','mean'])

                 sum  count          mean
CustomerID
12346       77183.60      1  77183.600000
12347        4310.00    182     23.681319
12348        1797.24     31     57.975484
12349        1757.55     73     24.076027
12350         334.40     17     19.670588
...              ...    ...           ...
18280         180.60     10     18.060000
18281          80.82      7     11.545714
18282         178.05     12     14.837500
18283        2045.53    721      2.837074
18287        1837.28     70     26.246857

[4338 rows x 3 columns]

In [ ]:
#Task99

retail_data.groupby('ProductName')[['Quantity','TotalPrice']].agg(['sum'])

                                 Quantity TotalPrice
                                      sum        sum
ProductName
 4 PURPLE FLOCK DINNER CANDLES        138     265.66
 50'S CHRISTMAS GIFT BAG LARGE       1885    2272.25
 DOLLY GIRL BEAKER                   2394    2754.50
 I LOVE LONDON MINI BACKPACK          359    1449.85
 I LOVE LONDON MINI RUCKSACK            1       4.15
...                                   ...        ...
ZINC T-LIGHT HOLDER STARS SMALL      4894    3879.98
ZINC TOP  2 DOOR WOODEN SHELF          10     169.50
ZINC WILLIE WINKIE  CANDLE STICK     2606    2176.10
ZINC WIRE KITCHEN ORGANISER            25     156.80
ZINC WIRE SWEETHEART LETTER TRAY       80     253.24

[3877 rows x 2 columns]

PART-N:Creating Summary Reports

In [ ]:
#Task100

monthly_country_pivot=retail_data.pivot_table(index='Country',columns='Month',values='TotalPrice',aggfunc='sum',fill_value=0)
monthly_country_pivot

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4350.32,439.66,1587.07
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,132.18,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,852.68,185.78,792.180,531.03,0.000,0.00,0.00,0.00

In [ ]:
#Task101

retail_data.pivot_table(index='Country',columns='Quarter',values='Quantity',aggfunc='mean',fill_value=0)

Quarter                       Q1          Q2         Q3         Q4
Country
Australia              76.429012   83.184818  59.692935  64.279570
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                 0.000000   15.294118   0.000000   0.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                  0.000000   11.125000   0.000000   0.000000
Canada                  8.800000   27.517241  13.000000   0.000000
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667    0.000000   0.000000  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community      0.000000    5.290323  11.551724   0.000000
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.764706
Germany                12.749697   14.133297  12.878070  13.132771
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.000439  16.282892
Israel                 17.875000    0.000000  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778    0.000000   0.000000   0.000000
Lithuania               0.000000    0.000000   0.000000  18.628571
Malta                   0.000000    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                     0.000000    0.000000   0.000000   6.157895
Saudi Arabia            8.888889    0.000000   0.000000   0.000000
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.533632  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   20.014085  15.158974  15.503436
UK                     12.943920   12.176077  13.063251  11.255354
USA                     0.000000    6.227273   0.000000  14.783439
United Arab Emirates   16.533333    0.000000  12.789474   0.000000
Unspecified             0.000000   14.083333   4.562130   0.000000

In [ ]:
#Task102

retail_data.pivot_table(index='Country',columns='RevenueCategory',values='InvoiceNo',aggfunc='count',fill_value=0)

RevenueCategory       High     Low  Medium
Country
Australia              445      82     654
Austria                 13      37     348
Bahrain                  1       0      16
Belgium                 16     209    1806
Brazil                   1       0      31
Canada                   2      19     130
Channel Islands         22      20     705
Cyprus                  14     142     447
Czech Republic           0       0      25
Denmark                 43      28     309
European Community       0       1      59
Finland                 42      66     577
France                 165    1284    6877
Germany                246    1155    7624
Greece                  12      17     116
Iceland                  3      13     166
Ireland                457     793    5976
Israel                  14      52     179
Italy                    8      44     706
Japan                  126      58     137
Lebanon                  3       0      42
Lithuania                1       0      34
Malta                    2      12      98
Netherlands           1132     198    1029
Norway                  43      59     969
Poland                   2      25     303
Portugal                23     354    1076
RSA                      0       3      54
Saudi Arabia             0       1       8
Singapore               16      13     193
Spain                   73     637    1769
Sweden                 136      28     286
Switzerland             95     148    1598
UK                    8493  164356  176354
USA                      0      22     157
United Arab Emirates     1       7      60
Unspecified              0     126     115

PART-O:Data Transformation

In [ ]:
#Task103

retail_data['MonthlyRevenuepct']=(retail_data['TotalPrice']/monthly_revenue*100).fillna(0)

In [ ]:
#Task104

Customer_Rank=retail_data.groupby('CustomerID')['TotalPrice'].transform('sum')

retail_data['CustomerRank']=Customer_Rank.rank(method='dense',ascending=False)

In [ ]:
#Task105

retail_data=retail_data.sort_values('InvoiceDate')

retail_data['Cummulativerevenue']=retail_data['TotalPrice'].cumsum()

PART-P:Combining Analysis

In [ ]:
#Task106

data_2010=retail_data[retail_data['Year']==2010]
data_2011=retail_data[retail_data['Year']==2011]

In [ ]:
Combined_data=pd.concat([data_2010,data_2011],axis=0)
Combined_data

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname,MonthlyRevenuepct,CustomerRank,Cummulativerevenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,1,8,Wednesday,Q4,Medium,Medium,34,0.000000,248.0,1.530000e+01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,1,8,Wednesday,Q4,Medium,Medium,19,0.003580,248.0,3.564000e+01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,1,8,Wednesday,Q4,Medium,Medium,30,0.004932,248.0,5.764000e+01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,1,8,Wednesday,Q4,Medium,Medium,35,0.003424,248.0,7.798000e+01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,1,8,Wednesday,Q4,Medium,Medium,30,0.004343,248.0,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,9,12,Friday,Q4,Medium,Medium,25,0.000000,1826.0,8.887143e+06
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,9,12,Friday,Q4,Medium,Medium,30,0.000000,1826.0,8.887162e+06
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,9,12,Friday,Q4,Medium,Small,31,0.000000,1826.0,8.887179e+06
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,9,12,Friday,Q4,Medium,Small,26,0.000000,1826.0,8.887194e+06
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,9,12,Friday,Q4,Medium,Small,29,0.000000,1826.0,8.887209e+06

In [ ]:
#Task107

UK_data=retail_data[retail_data['Country']=='UK'].copy()
non_uk_data=retail_data[retail_data['Country']!='UK'].copy()

In [ ]:
UK_data['Region']='UK'
non_uk_data['Region']='non-UK'

In [ ]:
h_combined_data=pd.concat([UK_data,non_uk_data],axis=1)
h_combined_data

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname,MonthlyRevenuepct,CustomerRank,Cummulativerevenue,Region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,UK,22.00,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,Friday,Q4,Medium,Medium,25.0,0.0,1826.0,8.887143e+06,non-UK
392678,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,Friday,Q4,Medium,Medium,30.0,0.0,1826.0,8.887162e+06,non-UK
392690,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,Friday,Q4,Medium,Small,31.0,0.0,1826.0,8.887179e+06,non-UK
392683,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,Friday,Q4,Medium,Small,26.0,0.0,1826.0,8.887194e+06,non-UK
392691,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,12.0,Friday,Q4,Medium,Small,29.0,0.0,1826.0,8.887209e+06,non-UK

PART-Q:External Data Integration

In [ ]:
#Task108

customer_data = pd.DataFrame({
    'CustomerID': [17850, 13047, 12583, 13748, 15100,
                   12431, 13426, 16210, 14096, 15061],
    'CustomerName': [
        'John Smith', 'Emma Brown', 'Liam Johnson', 'Olivia Davis', 'Noah Wilson',
        'Ava Martin', 'Ethan Clark', 'Sophia Lewis', 'Mason Walker', 'Isabella Hall'
    ],
    'MembershipLevel': [
        'Gold', 'Silver', 'Bronze', 'Gold', 'Silver',
        'Bronze', 'Gold', 'Silver', 'Gold', 'Bronze'
    ],
    'JoinDate': pd.to_datetime([
        '2010-01-15', '2010-03-22', '2010-06-10', '2010-09-05', '2011-02-18',
        '2010-11-12', '2011-01-20', '2011-04-08', '2010-07-30', '2011-06-14'
    ])
})


customer_data

   CustomerID   CustomerName MembershipLevel   JoinDate
0       17850     John Smith            Gold 2010-01-15
1       13047     Emma Brown          Silver 2010-03-22
2       12583   Liam Johnson          Bronze 2010-06-10
3       13748   Olivia Davis            Gold 2010-09-05
4       15100    Noah Wilson          Silver 2011-02-18
5       12431     Ava Martin          Bronze 2010-11-12
6       13426    Ethan Clark            Gold 2011-01-20
7       16210   Sophia Lewis          Silver 2011-04-08
8       14096   Mason Walker            Gold 2010-07-30
9       15061  Isabella Hall          Bronze 2011-06-14

In [ ]:
#Task109

retail_with_customers=retail_data.merge(customer_data,on='CustomerID',how='left')
retail_with_customers

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Quarter,RevenueCategory,OrderSize,Lengthofprodname,MonthlyRevenuepct,CustomerRank,Cummulativerevenue,CustomerName,MembershipLevel,JoinDate
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,Q4,Medium,Medium,34,0.000000,248.0,1.530000e+01,John Smith,Gold,2010-01-15
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Q4,Medium,Medium,19,0.003580,248.0,3.564000e+01,John Smith,Gold,2010-01-15
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,Q4,Medium,Medium,30,0.004932,248.0,5.764000e+01,John Smith,Gold,2010-01-15
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Q4,Medium,Medium,35,0.003424,248.0,7.798000e+01,John Smith,Gold,2010-01-15
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Q4,Medium,Medium,30,0.004343,248.0,9.832000e+01,John Smith,Gold,2010-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,Q4,Medium,Medium,25,0.000000,1826.0,8.887143e+06,NaN,NaN,NaT
392688,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,Q4,Medium,Medium,30,0.000000,1826.0,8.887162e+06,NaN,NaN,NaT
392689,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,Q4,Medium,Small,31,0.000000,1826.0,8.887179e+06,NaN,NaN,NaT
392690,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,Q4,Medium,Small,26,0.000000,1826.0,8.887194e+06,NaN,NaN,NaT
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,Q4,Medium,Small,29,0.000000,1826.0,8.887209e+06,NaN,NaN,NaT

In [ ]:
#Task110

product_categories = pd.DataFrame({
    'StockCode': [
        '85123A', '71053', '84406B', '84029G', '84029E',
        '22752', '21730', '22423', '22633', '23235'
    ],
    'Category': [
        'Home', 'Home', 'Gift', 'Kitchen', 'Home',
        'Gift', 'Kitchen', 'Home', 'Gift', 'Kitchen'
    ]
})

product_categories

  StockCode Category
0    85123A     Home
1     71053     Home
2    84406B     Gift
3    84029G  Kitchen
4    84029E     Home
5     22752     Gift
6     21730  Kitchen
7     22423     Home
8     22633     Gift
9     23235  Kitchen

In [ ]:
#Task111

retail_with_product_catogeries=retail_data.merge(product_categories,on='StockCode',how='left')
retail_with_product_catogeries

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Lengthofprodname,MonthlyRevenuepct,CustomerRank,Cummulativerevenue,Category
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,Wednesday,Q4,Medium,Medium,34,0.000000,248.0,1.530000e+01,Home
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,Wednesday,Q4,Medium,Medium,19,0.003580,248.0,3.564000e+01,Home
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,Wednesday,Q4,Medium,Medium,30,0.004932,248.0,5.764000e+01,Gift
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,Wednesday,Q4,Medium,Medium,35,0.003424,248.0,7.798000e+01,Kitchen
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,Wednesday,Q4,Medium,Medium,30,0.004343,248.0,9.832000e+01,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,Friday,Q4,Medium,Medium,25,0.000000,1826.0,8.887143e+06,NaN
392688,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,Friday,Q4,Medium,Medium,30,0.000000,1826.0,8.887162e+06,NaN
392689,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,Friday,Q4,Medium,Small,31,0.000000,1826.0,8.887179e+06,NaN
392690,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,...,12,Friday,Q4,Medium,Small,26,0.000000,1826.0,8.887194e+06,NaN
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,12,Friday,Q4,Medium,Small,29,0.000000,1826.0,8.887209e+06,NaN

In [ ]:
#Task112

retail_with_customers.groupby('MembershipLevel')['TotalPrice'].sum()

MembershipLevel
Bronze    68235.47
Gold      75145.57
Silver    25199.84
Name: TotalPrice, dtype: float64

In [ ]:
#Task113

retail_with_product_catogeries.groupby(['Country','Category']).size().sort_values(ascending=False)

Country               Category
UK                    Home        3905
                      Gift         939
                      Kitchen      502
Ireland               Home         116
Germany               Home          67
France                Home          56
Spain                 Home          36
Switzerland           Home          17
Belgium               Home          15
Netherlands           Home          15
Germany               Gift          14
Cyprus                Home          13
France                Gift          12
Norway                Home          11
Italy                 Home          10
Netherlands           Gift          10
France                Kitchen       10
Germany               Kitchen        9
Channel Islands       Home           9
Australia             Home           7
Portugal              Home           7
Ireland               Gift           7
Finland               Home           5
Israel                Home           4
Switzerland           Gift           4
Iceland               Home           4
Australia             Kitchen        3
Singapore             Home           3
Sweden                Gift           2
                      Kitchen        2
Spain                 Gift           2
Switzerland           Kitchen        2
Unspecified           Home           2
Austria               Home           2
Channel Islands       Kitchen        2
Austria               Gift           2
USA                   Home           2
Ireland               Kitchen        2
Malta                 Home           2
Spain                 Kitchen        2
Unspecified           Gift           2
Finland               Kitchen        1
Denmark               Home           1
Canada                Home           1
Brazil                Home           1
Denmark               Kitchen        1
Belgium               Gift           1
                      Kitchen        1
Bahrain               Home           1
Denmark               Gift           1
RSA                   Home           1
Japan                 Kitchen        1
Greece                Home           1
Norway                Gift           1
Lebanon               Home           1
United Arab Emirates  Home           1
dtype: int64

PART-R:Numpy operations

In [ ]:
#Task114

(retail_data['Quantity'].values * retail_data['UnitPrice'].values)

array([15.3 , 20.34, 22.  , ..., 16.6 , 15.  , 14.85])

In [ ]:
#Task115

import numpy as np
np.random.randint(1,1001,size=1000)

array([410, 311, 856, 589, 208, 892,  11, 471, 984, 764, 580, 608, 822,
       560, 826,  60, 365, 329, 269,  22, 620, 168, 547, 606, 777, 568,
       333,  68, 785, 554, 120, 848, 484, 558, 691, 626, 890, 833,  82,
       379, 190, 188, 313, 133, 698, 123, 811, 597, 367, 474,  19, 165,
       213, 961, 967, 338, 456, 315, 485,  22, 966, 450, 328, 502, 914,
       432, 628,  52,  32,  69, 706, 755, 231, 815,  48, 646, 811,  83,
       412, 880, 825, 541, 527, 973, 584, 757, 247, 934, 223, 286, 133,
       757, 654, 862, 471,  55, 436, 547, 650, 247, 236, 398, 638, 104,
       759, 252, 138, 865, 590, 847, 805, 928, 452, 776, 666, 491, 181,
       981,  76, 278, 771, 738, 815, 875, 185, 200, 498, 953, 524, 949,
       529, 649, 714, 780, 811, 917,  81, 138, 536, 469, 627,  50, 689,
       266, 549, 105, 821, 848, 111, 612, 583, 674, 954, 663, 606, 272,
       157, 732, 623, 430, 373, 855, 739, 179,  16, 399, 179, 500, 371,
       626, 949, 924, 244, 422, 380, 959, 601, 450, 724, 636, 301, 106,
       910, 878, 692, 193, 681, 732,  27, 835, 776, 143, 307, 816, 348,
       899, 324, 937, 544,  41, 343, 395, 147, 961,  33, 496, 971, 488,
       341,  16, 711, 508, 430,  30, 811, 865, 233, 217, 676, 605, 737,
       101, 941, 846, 445, 456, 894, 960, 701, 527, 239, 367, 769, 950,
       671, 580, 869, 342, 279, 407, 174, 762, 529, 302, 823, 561, 782,
       450, 884, 751, 570,  42, 607, 667, 268, 663, 929, 256, 278, 429,
       415, 527, 168, 148, 707, 257, 566, 803, 739, 947, 242, 920, 187,
       731, 674, 878, 152, 132,  35, 558,  48, 779,  74, 817, 213, 615,
       196,  47, 769,  82, 267, 518, 268, 772, 527, 961, 419, 717, 623,
       105, 162, 747, 474, 449,  75, 881, 660, 394, 597, 466, 169, 775,
       213, 510, 532, 241, 656, 170, 424, 998, 704,   9, 261, 600, 607,
       795, 506, 540,  62, 813, 183, 293, 970, 329, 615, 938, 537, 974,
       369, 536, 919, 812, 983, 537, 970, 935, 888, 965, 429, 202, 366,
       995, 657, 341,  38, 462, 675, 359, 467,  19, 671, 655, 357, 589,
       604, 192, 696, 988, 960, 295, 712, 568, 791, 882, 731, 306, 962,
       406,  42, 980, 238,  69, 915, 133, 409,   4, 374, 672, 951, 665,
       955, 768, 383, 634, 633, 534, 605, 966, 395, 295, 837, 775, 809,
       411, 452, 364, 842, 126, 560, 495, 628, 629, 750, 469, 591, 658,
       311, 398, 228, 271, 420, 277, 315, 274, 786,  78, 737, 788, 438,
       882, 132,  78, 528, 138, 633,  61, 182, 514, 762, 203, 736, 272,
       664, 950, 705, 603, 795, 158, 899,  19, 181, 346, 109, 940, 976,
       608, 687, 173,  89, 826,  78, 959, 152, 685, 351, 766,  74, 913,
       238,  56, 534, 271, 668,   4, 339, 332, 673, 351, 607, 941, 779,
       984, 100, 260, 219, 868, 542, 676, 172, 705, 637, 789, 313, 867,
       153, 534, 622, 534, 332, 647, 511, 106, 916, 536, 266, 457, 441,
       563, 951, 109, 867, 648, 367, 841, 280, 444, 838, 875, 755, 372,
       467, 586, 537, 267, 727,  49, 264, 786, 334, 458, 457, 617, 827,
       888, 932, 230, 284, 254, 368, 887, 110, 512, 444, 393, 896, 406,
       474, 882,  56, 990,  69, 754, 860, 744, 237, 923, 618, 673, 810,
       127, 932, 779, 516, 643, 814, 386, 963, 318, 101, 621,   6, 524,
        98, 297, 988,  60,  17, 461, 942, 691, 819, 101,  44, 936,  33,
       540, 924,  91, 283, 319, 366, 133, 196, 664, 805, 186, 795, 988,
       837, 482,  56, 175, 963, 906, 705, 579, 957, 884, 369,  35, 404,
       959,  37, 973, 866, 947, 990, 585, 585, 829, 632, 905, 974, 390,
        94, 256, 247, 725, 794, 946, 170, 790, 771, 858, 169, 744, 465,
       751, 987, 165, 100, 746, 668,  19, 609, 591, 488, 153, 635, 808,
       568, 138, 277, 403, 813, 975, 534, 716, 437,  61, 597, 970, 471,
       630,   3, 971, 981, 224, 257, 191, 112, 718, 197,  33, 275, 265,
       417, 336, 762, 186,  76, 561, 350,  99,  94, 119, 614, 969, 477,
       353, 602,  65, 779, 629, 380, 830, 346, 117, 756, 316, 815,  57,
       535, 537, 643, 103, 236, 238, 872, 895, 792, 637, 419, 982, 704,
       154,  12, 815, 767, 613, 894, 703, 224, 868, 896, 973, 288, 107,
        47, 644, 484, 958, 147, 303,  82, 380, 184, 104, 539, 844, 242,
       617, 246, 664, 473, 138, 152, 432, 501, 808, 327, 843, 482, 791,
       597, 989,  43,  69, 250, 266, 232, 472, 544, 950, 177, 336, 769,
       909, 577,  29, 539, 117, 385, 654, 492, 213, 630, 664, 632, 549,
       444, 121, 801,  76, 424, 924, 454, 446, 844, 280, 620, 240, 187,
       990, 605, 138, 869, 561, 255, 272, 749, 745, 308, 451,  71, 227,
       267, 440, 432, 751, 640, 877, 867, 543, 181, 265, 156, 139, 931,
       517, 410, 456, 347, 431,  81, 386, 284, 850, 211,  33, 850, 371,
       531, 934, 295, 301, 451, 731, 159, 451,  44, 753, 672, 660, 685,
       677, 208, 151, 552, 485, 629, 332, 433, 147, 798,  17, 586, 299,
        45, 255, 361, 423, 659, 481, 553, 143, 730, 357, 349,  57, 523,
       733, 669, 837, 532, 620,  60, 109,  48, 158, 876, 747, 824, 873,
       620, 650, 951,  21, 965, 267, 909, 424, 240, 700, 480, 513, 267,
       507, 166, 964, 724, 842, 734, 325, 678, 277, 355, 456, 243, 729,
       345, 184, 296, 681, 743, 303, 949, 339,  75, 273, 512, 828, 420,
       464, 106, 856,  72, 124, 848, 821, 551, 257, 666, 508, 294, 516,
        83, 816, 674, 167, 109, 325, 681, 847, 441, 715, 276, 115,  36,
       485, 775, 174, 115, 795,   5, 430, 275, 396, 215, 311, 304, 933,
       174, 836, 239, 915, 199, 261, 380, 655, 231, 237, 446, 631, 205,
       915, 724, 304, 717, 123,   7, 921, 758, 629, 758, 608, 497, 762,
       443, 920, 373, 665, 215, 308, 307, 834, 996, 185, 640, 534])

In [ ]:
#Task116

np.linspace(0,500,50)

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

In [ ]:
#Task117

np.zeros((12,7))

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
#Task118

retail_data['Quantity'].values[retail_data['Quantity'].values>100]

array([120, 192, 192, ..., 180, 144, 144])

In [ ]:
#Task119

np.sqrt(retail_data['UnitPrice'].values)

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 1.93649167,
       2.22485955])

In [ ]:
#Task120

np.percentile(retail_data['TotalPrice'],[25,50,75])

array([ 4.95, 12.45, 19.8 ])

In [ ]:
#Task121

np.round(retail_data['UnitPrice'])

0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
392679    2.0
392678    2.0
392690    4.0
392683    4.0
392691    5.0
Name: UnitPrice, Length: 392692, dtype: float64

In [ ]:
#Task122

np.where(retail_data['Quantity'].values==retail_data['Quantity'].max())

(array([392226]),)

In [ ]:
#Task123

np.corrcoef(retail_data['Quantity'],retail_data['UnitPrice'])

array([[ 1.        , -0.00457831],
       [-0.00457831,  1.        ]])

In [ ]:
#Task124

(retail_data['TotalPrice']-retail_data['TotalPrice'].mean())/retail_data['TotalPrice'].std()

0        -0.023566
1        -0.007366
2        -0.002030
3        -0.007366
4        -0.007366
            ...
392679   -0.009102
392678   -0.009102
392690   -0.019388
392683   -0.024531
392691   -0.025013
Name: TotalPrice, Length: 392692, dtype: float64

In [ ]:
#Task125

np.array_split(retail_data['Quantity'].values,4)

[array([6, 6, 8, ..., 1, 1, 1]),
 array([10, 16,  2, ...,  2,  1,  1]),
 array([ 6,  1,  1, ...,  1, 12,  6]),
 array([ 8,  8, 36, ...,  4,  4,  3])]

PART-S:Export and Documentation

In [ ]:
#Task126

retail_data.to_csv('cleaned_retail_data.csv',index=False)

In [ ]:
#Task127

retail_data.to_excel('cleaned_retail_data.xlsx',index=False)

In [ ]:
#Task128

country_summary = retail_data.groupby('Country')['TotalPrice'].sum()

monthly_trends = retail_data.groupby(['Year', 'Month'])['TotalPrice'].sum()

top_50_customers = (
    retail_data.groupby('CustomerID')['TotalPrice']
    .sum()
    .sort_values(ascending=False)
    .head(50)
)

In [ ]:
with pd.ExcelWriter('retail_analysis_report.xlsx') as writer:
    retail_data.to_excel(writer, sheet_name='Cleaned Data', index=False)
    country_summary.to_excel(writer, sheet_name='Country Summary')
    monthly_trends.to_excel(writer, sheet_name='Monthly Revenue')
    top_50_customers.to_excel(writer, sheet_name='Top 50 Customers')

In [ ]:
#Task129

monthly_country_pivot.to_excel('monthly_sales_by_country.xlsx')

In [ ]:
insights = """ RETAIL DATA ANALYSIS INSIGHTS

1.The UK generated the highest overall revenue among all countries.

2.November and December recorded the highest monthly sales.

3.Most transactions occurred during weekdays, especially Fridays.

4.A small number of customers contributed a large portion of total revenue.

5.Home and Gift categories were among the most popular product categories.

6.Gold membership customers generated higher average revenue per transaction.

7.Sales peaked during morning and early afternoon hours. """

with open('analysis_insights.txt', 'w') as file: file.write(insights)